#myScrollspy {
	position: relative;
	top: 30px;
	height: 1000px;
	font-size: 28px;
}

#Home {
	color: #fff;
	background-color: #a0db8e;
	padding-bottom: 20px;
	padding-top: 50px;
}

#About {
	color: #fff;
	background-color: #F2784B;
	padding-bottom: 20px;
}

#Portfolio {
	color: #fff;
	background-color: #ff9800;
}

#Contact {
	color: #fff;
	background-color: #049372;
	padding-top: 20px;
}

img.displayed {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 10%;
	width: 30%;
}

h2 {
	text-align: center;
	font-family: Raleway;
	font-weight: bold;
}

h1 {
	text-align: center;
	font-family: Tangerine;
	font-weight: bold;
}

.intro {
	text-align: center;
	font-family: Lato;
	font-size: 20px;
	margin-left: 20%;
}

.buttons {
	width: 37%;
	margin: 0 auto;
}

.first-row,
.second-row,
.third-row,
.forth-row {
	margin: 100px;
}

div.img:hover {
	border: 5px solid #777;
}

div.desc {
	padding: 15px;
	text-align: center;
	border: 5px solid;
	background-color: #2574A9;
}

.girl {
	margin: 0px 250px 0px 0px;
	float: right;
	width: 20%;
}

.bottom-contact {
	margin-left: 20%;
	font-family: Open Sans;
}

.footer-links {
	width: 20%;
	font-size: 15px;
	margin: 0 auto;
}

.copyright {
	font-family: Open Sans;
	font-weight: bold;
	font-size: 12px;
	width: 14%;
	margin: 0 auto;
}
