body {
  margin: 0;
  overflow: auto;
  font-family: sans-serif;
  text-align: center;
}
#welcome-section {
  background: lightblue;
  height: 100vh;
}
#welcome-section h1,
#welcome-section p {
  position: relative;
  top: 50%;
  margin: 0px;
}
#welcome-section h1 {
  font-size: 30px;
}
#welcome-section p {
  color: green;
}
#navbar {
  background: lightblue;
  position: fixed;
  top: 0px;
  display: block;
  width: 100%;
  text-align: right;
  padding-top: 30px;
  padding-bottom: 15px;
  z-index: 99;
}
#navbar a {
  text-decoration: none;
  margin-left: 80px;
  color: #008080;
}

#projects {
  border: 1px solid white;
}
#projects p {
  font-size: 25px;
  margin: 70px auto 0px auto;
  color: #008080;
}
.project,
.project2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.project-tile {
  margin: 40px 100px;
  text-decoration: none;
  border: 2px lightblue solid;
  height: 180px;
  width: 200px;
  display: grid;
  grid-template-columns: 200px;
  grid-template-rows: 140px 40px;
}
span {
  padding: 5px;
  border-top: 2px lightblue solid;
  align-self: center;
  color: #008080;
  font-weight: bold;
}
img {
  margin: auto;
}
#projects button {
  color: #008080;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  border: 2px solid mediumseagreen;
  cursor: pointer;
  margin: 0px auto 20px auto;
}
#contact {
  background: mediumseagreen;
  height: 100vh;
  border: 1px solid mediumseagreen;
}
#contact header {
  margin-top: 150px;
}
#contact header h2 {
  font-size: 35px;
  margin: 0px;
}
#contact header p {
  margin: 0px;
}
#button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 100px;
}
#profile-link,
#codepen,
#freecodecamp {
  width: 150px;
  line-height: 150px;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
  margin: auto 50px;
  color: #008080;
  text-decoration: none;
  background: lightgray;
  font-weight: bold;
}

@media (max-width: 400px) {
  #navbar {
    text-align: center;
  }
  #navbar a {
    margin: 0px 30px;
    display: inline-block;
  }
  #projects p {
    margin: 80px auto 0px auto;
  }
  .project,
  .project2 {
    flex-direction: column;
  }
  .project-tile {
    margin: 20px auto;
  }
  #contact {
    padding: 70px 0px;
  }
  #contact header {
    margin: 20px auto;
    padding: initial;
  }
  #codepen,
  #freecodecamp,
  #profile-link {
    margin: 10px auto;
  }
  #button-container {
    flex-direction: column;
    padding: 0px;
    margin: initial;
  }
}
@media (min-width: 450px) and (max-width: 868px) {
  .project,
  .project2 {
    flex-direction: column;
  }
  .project-tile {
    margin: 20px auto;
  }
  #contact {
    padding: 50px 0px 130px 0px;
  }
  #contact header {
    margin: 20px auto;
    padding: initial;
  }
  #profile-link,
  #codepen,
  #freecodecamp {
    margin: 10px auto;
  }
  #button-container {
    flex-direction: column;
    padding: 0px;
    margin: initial;
  }
}
